body {
    background: #d3dbe7;
    color: #f8f8f8;
    font-family: 'Titillium Web', sans-serif;
}

#frame {
    background-color: #CE97B0;
    display: inline-block;
    margin: auto;
}

#content {
    float: left;
    max-width: 85%;
    min-width: 85%;
}

#main {
    text-align: center;
    padding: 1%;
    background-color: #be7e9b;
    margin: 2%;
}

#bar {
    float: right;
    min-height: 100%;
    max-width: 13%;
    min-width: 13%;
    padding: 1%;
}

#sections {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex: 1;
    padding: 1%;
    margin: 1%;
}

.unit {
    display: block;
    text-align: center;
    padding: 1%;
    margin: 2%;
    background-color: #be7e9b;
    max-width: 27.1%;
    min-width: 27.1%;
    max-height: 30%;
    min-height: 30%;
}

.zone {
    text-align: center;
    padding: 1%;
}

.pages {
    background-color: #be7e9b;
    overflow: hidden;
    text-align: right;
    margin-bottom: 1%;
}

.pages a {
    text-decoration: none;
    font-size: 3vw;
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.pages a:hover {
    color: #272727;
}

.pages a.active {
    background-color: #FBC6A4;
}

.pages a.inactive {
    background-color: #F4A9A8;
}

.pages #heading {
    color: #f8f8f8;
    font-size: 3vw;
    float: left;
    text-align: center;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 1%;
    margin: auto;
}

#heading {
    font-size: 2vw;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    margin: auto;
}

.title {
    font-size: 5vw;
    padding-top: 6%;
    margin: auto;
    text-align: center;
}

.subtitle {
    font-size: 3.8vw;
    margin: auto;
    text-align: center;
}

.message {
    font-size: 2.5vw;
    padding-bottom: 6%;
    margin: auto;
    text-align: center;
}

.footnote {
    font-size: 1.4vw;
    margin: auto;
    text-align: center;
}

.small-title {
    font-size: 2.2vw;
    margin: auto;
    text-align: center;
}

.small-text {
    font-size: 1.8vw;
    margin: auto;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    align-self: center;
}

a:link {
    color: #f8f8f8;
}

a:visited {
    color: #f8f8f8;
}

a:hover {
    color: #272727;
}

#buttons {
    display: block;
    margin: auto;
    padding: 2%;
}

.themes {
    font-family: 'Titillium Web', sans-serif;
    border: none;
    background-color: #be7e9b;
    color: #f8f8f8;
    font-size: 1.5vw;
    min-width: 100%;
    max-width: 100%;
    padding: 2%;
    margin: 2%;
}

.themes:hover {
    color: #272727;
}